:root {
    --main-Color:#385F71;
    --background-Color:#3d3d3b;
    --box-Shadow: 0 2px 4px rgb(0 0 0 / 7%);
    --main-transition: 0.6s;
    --main-padding: 60px;
}

* {
    box-sizing: border-box;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
    background-color: #22232A;
    
}

a {
    text-decoration: none;
}
.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
}

.main-heading h2 {
    font-weight: 100;
    font-size: 25px;
    position: relative;
    margin-bottom: 100px;
    box-shadow: 0px 0px 5px white;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid wheat;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Righteous', cursive;
    width: fit-content;
    padding: 10px 20px;
    transition: var(--main-transition);
    z-index: 400;

    
}


.main-heading h2::before {
    
    content: '';
    width: 0;
    height: 0;
    color: white;
    background-color: white;
    position: absolute;
    top: 0;
    border-radius: 50%;
    transition: var(--main-transition);
    z-index: -1;
    
    
}
.main-heading h2:hover::before {
    width: 100%;
    height: 100%;
    
}
.main-heading h2:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 5px white;
    color: black;
    border: none;
    box-shadow: none;
    z-index: 100;
    
}
.main-heading h2::after {
content: "";
position: absolute;
bottom: -15px;
left: -8px;
width: 100%;
height: 80%;
border-bottom: 5px solid white;
border-right: 5px solid white;
transform: skewX(0deg);
padding: 10px;
border-bottom-right-radius: 20px;
z-index: 100;
}
/* Small Screen */

@media (min-width: 768px) {
    header .container{
        width: 750px;
        }
    }

/* Mid Screen */

@media (min-width: 992px) {
    header .container{
        width: 970px;
        }
    }

 /* Large Screen */

@media (min-width: 1200px) {
    header .container{
        width: 1170px;
        }  
    }

/* S-Header */

header {
    position: relative;
    width: 100%;
    z-index: 1;
    left: 0;
    /* background-color: #33363b; */
    background-color: #0E0C18;
    border-bottom: 20px solid white;
    
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 100;
    

}


header .container .logo {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;    
    z-index: 100;


}

@media (max-width:767px) {
    header .container .logo {
        width: 100%;
        height: 50px;
    }
}


header .container ul  {
    display: flex;
}
header .container ul > li > a  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    transition: var(--main-transition);
    margin: 1px;
    width: 80px;
    position: relative;
    overflow: hidden;
    font-size: 13px;
    padding-right: 2px;
    padding-left: 2px;
    
    
}

header .container ul > li > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    /* background-color: var(--main-Color); */
    background-color: white;
    transition: var(--main-transition);
    
}

header .container ul > li > a:hover::before {
    left: 0;
    
}

header .container ul > li > a:hover {

    background-color: #18273A;
    /* transform: scale(1.2,1.2); */


}
@media (min-width:768px) {
    header .container ul > li > a:hover {
        transform: scale(1.1,1.1);
    }
}
header .container ul > li > a:hover {
    color: white;
}

@media (max-width:767px) {
    header .container ul {
        margin: auto;
    }
}

@media (max-width:767px) {
    header .container ul > li > a  {
        font-size: 10px;
        height: 60px;
        width: 52px;
        padding-right: 4px;
        padding-left: 4px;

    }
}

/* E-Header */



/* S-Landing */

.landing {
    min-height: 100vh;
    background-image: url(../images/banner-bg.cc1273af450504afe755.png);
    background-size: cover;
    position: relative;
    transform: translateY(-19px);
    z-index: 100;
    
}
@media (max-width:767px) {
    .landing {
        transform: translateY(-19px);

    }
}

.landing .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: rgb(102 117 114 / 70%);
    box-shadow: 0px 0px 10px white;
    overflow: hidden;

    
}

    
.landing .text:hover .content h3 {
    color: white;
}
.landing .text:hover .content p {
    color: white;
}

.landing .text .number {
    background-color: #33363b;
    color: var(--Main-Color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: bold;
    font-size: 25px;
    transition: 1.8s;
    border: 1px solid white;
    
}

.landing .number i { 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    

}
.landing .text:hover .number {
    box-shadow: 0 0 0 500px rgb(51 54 59 / 80%) ;
}



@media (max-width:1030px) {
    .landing .text {
        width: 100%;
    }
}

.landing .content {
    width: 100%;
}

.landing .content h3 {
    /* color: #333333; */
    color: #cfe0f9;
    font-family: 'Changa', sans-serif;
    padding-top: 30px;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px dotted white;
    text-shadow: 1px 0px 46px var(--main-Color);
    animation: con-width 3s steps(28) 0s both infinite , blink 0.5s infinite; 
    font-weight: bold;
    transition: var(--main-transition);


}
@keyframes con-width {
    from {  
        width: 0px;

    }

    to {
        width: 230px;
    }
}

@keyframes blink {
    from {  
        border-right-color: var(--Main-Color);
        
    }

    to {
        border-right-color:transparent;

        
    }
}


.landing .content p {
    
    line-height: 1.6;
    font-family: sans-serif;
    font-size: 15px;
    color: #cfe0f9;
    transition: var(--main-transition);
    


}




/* E-Landing */

.about {
    padding-bottom: 50px;
}
.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:1000px) {
    .about .container-2 {
        flex-direction: column;
    }
}

.about .container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;

}
@media (max-width:767px) {
    .about .container-2 {
        gap: 50px;
    }
}


.about .container-2 .images img {
    min-width: 60%;
    height: 485px;
    transition: 0.2s ease-in-out;
    z-index: 999;
    box-shadow: -17px -17px 15px black, -15px -15px 5px white, -17px -17px 15px black, -15px -15px 5px white;
    transition: var(--main-transition);
    animation: upanddown 2.5s linear infinite;
    position:relative;
}

@keyframes upanddown {
    0% , 100% {
        top: 0;
        
    }
    50% {
        top:-50px;
    }

}
/* .about .container-2 .images img:hover {
    transform: scale(1.1,1.1);
} */



.about .container-2 .content {
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 3px 3px 10px white, inset -3px -3px 10px white;
    transition: var(--main-transition);
    font-family: 'Changa', sans-serif;
    
    
}



.about .container-2 .content:hover {
    transform: scale(1.1,1.1);
    z-index: 100;
}
.about .container-2 .content {
    color: white;
    
}

.about .container-2 .content {
    height: 400px;
    width: 550px;
    overflow: hidden;
    transition: var(--main-transition);
    z-index: 100;
    padding-right: 20px;
    padding-left: 20px;
    
}
@media (max-width:767px) {
    .about .container-2 .content {
        width: 300px;
        height: 350px;
        font-size: 10px;
        padding-top: 40px;
    }
}

.about .container-2 .content::before {
    background-color: white;
    content: "";
    height: 0;
    top: 0;
    opacity: .85;
    position: absolute;
    transition: .4s ease-in-out;
    width: 50%;
    right: 0;
    z-index: -1;
    
}
.about .container-2 .content::after {
    background-color: white;
    content: "";
    height: 0;
    bottom:  0;
    opacity: .85;
    position: absolute;
    transition: .4s ease-in-out;
    width: 50%;
    left: 0;
    z-index: -1;
    
}
.about .container-2 .content:hover::before ,
.about .container-2 .content:hover::after 
{
    height: 100%;
}
.about .container-2 .content:hover {
    color: black;
}
.about .container-2 .content:hover span {
    color: black;
}
.about .container-2 .content:hover span a {
    color: black;
}
.about .container-2 .content:hover span::before {
    color: black;
}
.about .container-2 .content span {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    padding: 7px 0px;
    color: white;
    padding-top: 10px;
    transition: var(--main-transition);
}
@media (max-width:767px) {
    .about .container-2 .content span {
        
        font-size: 10px;
    }
}
.about .container-2 .content span a {
    color: white;
    transition: var(--main-transition);
}
.about .container-2 .content span::before {
    
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    color: whitesmoke;
    margin-right: 7px;
    transition: var(--main-transition);
    

}
.about .container-2 .content span .link {
    color: white;
    margin-left: 5px;
}

.about .container-2 .content span a{
    margin-right: 5px;
    letter-spacing: 2px;
}


.about .container-2 .content .logo h4 {
    transform: translate(220px, -11px);
    font-family: 'Pacifico', cursive;
    font-weight: 200;


}

.cerf {
    padding-top: 100px;
    padding-bottom: 50px;
    /* background-color: #131923; */
    /* z-index: -1; */
    background-image: url(../images/nicolas-houdayer-KdCjVKIX4gk-unsplash.jpg);
    background-size: cover;
    position: relative;
    z-index: 100;
    
}

.cerf .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cerf .container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.cerf .container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.cerf .container-2 .box{
    position: relative;
    overflow: hidden;
    transition: 5s;
}
.cerf .container-2 .box .images {
    position: relative;
    overflow: hidden;
}

.cerf .container-2 .box .images img {
    width: 500px;
    height: 400px;
    overflow: hidden;
}

@media (max-width:767px) {
    .cerf .container-2 .box .images img {
        width: 340px;
        height: 300px;
    }
}

.cerf .container-2 .box .images {
    transition: var(--main-transition);
}

.cerf .box .images::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0 0 0 / 20%);
    width: 0;
    height: 0;
    border-radius: 50%;
    z-index: 2;
    

}
@keyframes flash {
    0% , 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.cerf .box .images:hover::before {
    animation: flash 1.5s;
}

.cerf .container-2 .box .images:hover {
    transform: scale(1.1,1.1);
}


.cerf .container-2 .box .caption {
    position: absolute;
    left: 0;
    bottom: -90%;
    width: 100%;
    transition: 0.4s;
    background-color: rgb(0 0 0 / 80%);
    overflow: hidden;
    padding: 20px;  
    
}

.cerf .container-2 .box:hover .caption  {
    bottom: -10px;
}

.cerf .container-2 .box .caption a {
    color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: var(--main-transition);
}



.project {
    padding-top: 80px;
    background-image: url(../images/banner-bg.cc1273af450504afe755.png);
    background-size: cover;
    position: relative;
    z-index: 100;
    
}

.project .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project .container {

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.project .container-2 {
    display: flex;
    align-items: center;
    justify-content: center;



}
.project .box .images img {
    width: 600px;
    height: 400px;
    border-radius: 5px;
    padding-bottom: 30px;
    overflow: hidden;
    
    
}
@media (max-width:767px) {
    .project .box .images img {
        width: 340px;
        height: 300px;
    }
}
.project .box .images{
    position: relative;
    overflow: hidden;
}
.project .box .images::before {
    /* background: linear-gradient(90.21deg,rgba(81,54,170,.5) -5.91%,rgba(47,153,189,.5) 111.58%); */
    background: linear-gradient(90.21deg,rgb(0 0 0) -5.91%,rgb(245 216 39 / 15%) 111.58%);
    content: "";
    height: 0;
    opacity: .85;
    position: absolute;
    transition: var(--main-transition);
    width: 100%;

    

}
.project .box {
    overflow: hidden;

}
.project .box .images:hover::before {
    height: 92%;
} 

@media (max-width:767px) {
    .project .box .images:hover::before {
    height: 89%;
}
}

.project .box .caption  {
    left: 50%;
    bottom: -10px;
    position: absolute;
    text-align: center;
    transform: translate(-50%,88%);
    color: white;
    opacity: 1;
    transition: var(--main-transition);
    box-shadow: inset 3px 3px 3px black,  inset -3px -3px 3px black;
    border-radius: 50%;
    padding: 20px 10px;
    
    
}

@media (max-width:767px) {
    .project .box .caption {
        font-size: 10px;
        transform: translate(-50%,95%);
        padding: 10px 5px;
        
        
    }
    .project .box .caption h2 {
        font-size: 10px;
    }
}


.project .box .caption h2 {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Righteous', cursive;
    
}
.project .box .caption a button {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.559);
    color: black;
    border-radius: 6px;
    border: none;
    font-family: 'Righteous', cursive;
    cursor: pointer;
    transition: var(--main-transition);
    border: 1px solid black;
    transform: translateY(-11px);

}
.project .box .caption a button:hover {
    /* transform: scale(1.1,1.1); */
    background-color: rgba(0, 0, 0, 0.148);
    color: white;
    border: 1px solid white;
    
}
.project .box .caption:hover {
    transform: scale(1.1,1.1);
}

.project .box .images:hover .caption {
    opacity: 1;
    transform: translate(-50%,-120%);

}

@media (max-width:767px) {
    .project .box .images:hover .caption {
        transform: translate(-50%,-72%);
    }
}


.sevcives {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    /* background-image: url(../images/banner-bg.cc1273af450504afe755.png); */
    background-color: #2f2b5f85;
    background-size: cover;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1.6;
    height: 500px;
}

.sevcives .images img {
    width: 500px;
    height: 500px;
    flex: 1;
    transform: translate(-27px, 20px);

}

@media (max-width:880px) {
.sevcives .images img {
    display: none;
}
}

.sevcives .text {
    background-color: #131923;
    padding: 30px;
    width: 100%;
    text-shadow: 3px 3px 20px white;
    box-shadow:   1px 1px 15px white ,  1px 1px 15px white;
    right: 0;
    position: relative;
    overflow: hidden;
    transition: 2s;
    
}

.sevcives .text:hover {
    box-shadow:  inset 1px 1px 15px black , inset 1px 1px 15px black;
}
@media (max-width:767px) {
    .sevcives .text {
        border-radius: 1px;
        box-shadow: none;
    }
    }

.sevcives .text::before {
    
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: red;
    overflow: hidden;
    transition: var(--main-transition);
    transition: 2s;

}
.sevcives .text:hover::before  {
    box-shadow: 0 0 0 500px rgb(255 255 255 / 30%);
    
    z-index: 100;
    
}



.sevcives .text h2 {
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px black;
    transition: 1.5s;
    z-index: 100;
    position: relative;
    
}

.sevcives .text ul {
    color: white;
    z-index: 100;
    transition: var(--main-transition);
}
.sevcives .text ul li {
    padding: 15px 0 ;
    font-family: 'Righteous', cursive;
    font-size: 20px;
}

.sevcives .text ul li:first-child::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f005';
    font-weight: 900;
    margin-right: 20px;
    font-size: 20px;
}

.sevcives .text ul li:nth-child(2)::before {
font-family: 'Font Awesome 5 Free';
content: '\f121';
font-weight: 900;
margin-right: 20px;
font-size: 20px;

}


.sevcives .text ul li:nth-child(3)::before{
    font-family: 'Font Awesome 5 Free';
    content: '\f7b9';
    font-weight: 900;
    margin-right: 20px;
    font-size: 20px;
}

.sevcives .text ul li:last-child::before{
    font-family: 'Font Awesome 5 Free';
    content: '\f233';
    font-weight: 900;
    margin-right: 20px;
    font-size: 20px;
    

}


.skills {
    padding-top: 100px;
    padding-bottom: 100px;
    /* background-color: #22232A; */
    background-image: url(../images/banner-bg.cc1273af450504afe755.png);
    background-size: cover;
    position: relative;
    z-index: 100px;
    opacity: 0.8;
}


.skills .container-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
@media (max-width:446px) {
    .skills .container-3  {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
    
    }
}

@media (max-width:977px) {
    .skills .container-3  {
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
}
@media (max-width:548px) {
    .skills .container-3  {
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
}
.skills .box {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.skills .box .imagess img {
    width: 140px;
    height: 140px;
}

@media (max-width:446px) {
    .skills .box .imagess img  {
        width: 60px;
        height: 60px;
    
    }
}

.skills .box .content {
    font-size: 20px;
    color: white;
    font-family: 'Righteous', cursive;
}
@media (max-width:446px) {
    .skills .box .content {
        font-size: 12px;
    
    }
}


.skills > p {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Righteous', cursive;
    transform: translateY(-60px);
}


.video {
    
    position: relative;
}

.video video {
    width: 100%;
    opacity: 0.5;
}


.video .contents {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-40%);
    padding: 50px;
    /* background-color: rgb(102 117 114 / 80%); */
    /* background-color: #1e4154a8; */
    background-color: rgb(51 54 59 / 78%);
    color: var(--Main-Color);
    text-align: center;
    box-shadow:  2px 2px 10px  white ,  -2px -2px 10px white;

}

@media (max-width:767px) {
    
.video .contents{
height: calc(100% - 100px );
}
}

.video .contents h2 {
    font-family: 'Righteous', cursive;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 5px 5px 40px white;
    box-shadow: 1px 1px 20px black;
    width: fit-content;
    margin: 30px auto;
}
.video .contents p {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: white;
    width: 260px;
    margin: 30px auto;
    border-right: 2px solid white;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 10px 10px 50px black;
    animation: con2-width 3s steps(24)  both infinite , blink 0.5s infinite;
}
@media (max-width:622px) {
    
    .video .contents h2 ,
    .video .contents p
        {
            font-size: 15px;
            transform: translateY(-50px);
        }
    }

    @media (max-width:470px) {
    
        .video .contents h2 ,
        .video .contents p
            {
                font-size: 13px;
                transform: translateY(-60px);
            }
        }
    

    @media (max-width:622px) {
    
        
        .video .contents p
            {
                font-size: 14px;
                transform: translateY(-50px);
            
            }
        }

        @media (max-width:470px) {
    
        
            .video .contents p
                {
                    font-size: 14px;
                    transform: translateY(-77px);
                
                }
            }
    

@keyframes con2-width {
    from {  
        width: 0px;

    }

    to {
        width: 260px;
    }
}
.video .contents button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: 'Righteous', cursive;
    cursor: pointer;
    transition: var(--main-transition);
}

@media (max-width:622px) {
    
    .video .contents button 
        {
            padding: 8px;
            font-size: 10px;
            transform: translateY(-50px);
            border-radius: 5px;
        }
    }
    /* 376px */
    @media (max-width:470px) {
    
        .video .contents button 
            {
                padding: 4px;
                font-size: 8px;
                transform: translateY(-99px);
                border-radius: 5px;
            }
        }
    

.video .contents button:hover {
    background-color: black;
    color: white;
}

.video .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 40%);
    display: flex;
    justify-content: center;
    align-items: center;
}






.container-10 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 100px;
    
}


.container-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
}



.wrapper, .wrapper .img-area,
.social-icons a, .buttons button{
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}
.wrapper{
    position: relative;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

@media (max-width:767px) {
    .wrapper {
        box-shadow: none;
    }
}
.wrapper .icon{
    font-size: 17px;
    color: #31344b;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    top: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
}
.wrapper .icon i{
    position: relative;
    z-index: 9;
}
.wrapper .icon.arrow{
    left: 15px;
}

.wrapper .icon.dots{
    right: 15px;
}
.wrapper .img-area{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-area .inner-area{
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}
.inner-area img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}
.wrapper .name{
    font-size: 23px;
    font-weight: 600;
    color: #31344b;
    margin: 10px 0 5px 0;
    font-family: 'Righteous', cursive;
    padding-bottom: 20px;
}
.wrapper .about{
    color: #44476a;
    font-weight: 800;
    font-size: 15px;
    overflow: hidden;
    height: 20px;
    font-family: 'Righteous', cursive;
    
}


.wrapper .social-icons{
    margin: 0px 0 25px 0;
}
.social-icons a{
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}
.social-icons a:hover::before,
.wrapper .icon:hover::before,
.buttons button:hover::before{
    content: "";
    position: absolute;
    top: 0;left: 0;
    bottom: 0;right: 0;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
}
.buttons button:hover::before{
    z-index: -1;
    border-radius: 5px;
}
.social-icons a i {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
}
.social-icons a.fb i{
    color: #4267b2;
    font-size: 20px;
}
.social-icons a.twitter i{
    color: #1da1f2;
    font-size: 20px;
}
.social-icons a.whatts i{
    color: #128C7E
    ;
    font-size: 20px;
}
.social-icons a.yt i{
    color: black;
    font-size: 20px;
}
.wrapper .buttons{
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: space-around;
    padding-right: 20px;
    width: 50%;
    font-family: 'Righteous', cursive;
    
}
.buttons button{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #31344b;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}
.buttons button:first-child{
    margin-right: 10px;
}
.buttons button:last-child{
    margin-left: 10px;
}
.wrapper .social-share{
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 5px;
    justify-content: space-between;
}
.social-share .row{
    color: #31344b;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}
.social-share .row::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background: #e0e6eb;
    margin-left: -25px;
}
.row:first-child::before{
    background: none;
}
.social-share .row i.icon-2{
    position: absolute;
    left: 0;top: 50%;
    color: #31344b;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}
.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment{
    opacity: 1;
    pointer-events: auto;
}
.social-share span{
    font-weight: 300 !important;
}

.wrapper .signture {
    font-family: 'Pacifico', cursive;
    font-size: 9px;
    position: absolute;
    left: 18px;
    top: 167px;
    color: rgb(61, 49, 49);
    transform: skew(6deg, -19deg);
    text-shadow: 0px 0px 16px black;
}
.wrapper .signture i {
    position: absolute;
    top: 12px;
    
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0E0C18;
    border-top: 2px solid white;
}
.footer .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Lobster', cursive;
}

.container-footer .row3 {
    font-family: 'Lobster', cursive;
    color: #b9b9b9;
    z-index: 100;
    font-size: 20px;
}
@media (max-width:767px) {
    .container-footer .row3 {
        font-size: 16px;
    }
}